.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 4.5rem;
        padding: 1.2rem 3rem;
        font-weight: 400;
        backface-visibility: hidden;
        position: relative;
        transition: all .2s;
        font-size: 1.4rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(2) scaleY(1.4);
            opacity: 0;

        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.2);

    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background: $color-white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        transition: all .5s;
    }





    &--animated {
        animation: moveInButton .5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

}